[Unit]
Description=Crash-only log capture
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pm-crash-capture.py

[Install]
WantedBy=multi-user.target