[Unit]
Description=Rpi Supervisor Auto Update
Documentation=https://github.com/AirysDark/rpi-supervisor
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
Group=root

ExecStart=/usr/bin/python3 /opt/rpi-supervisor/bin/rsup-update

TimeoutSec=120

# ===============================
# Security Hardening
# ===============================

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectClock=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes

# allow only what updater needs
ReadWritePaths=/opt/rpi-supervisor /var/lib/rpi-supervisor

# networking allowed (needed for updates)
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target